.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.loginForm input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginForm button {
  padding: 10px;
  background-color: #5fa1e8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginForm button:hover {
  background-color: #71a2d7;
}
